.usersPhoto {
    width: 100px;
    height: 100px;
    border-radius: 45%;
}
.selectedPage{
    font-weight: bold;
}
div.leftBlock {
    display: inline-block;
    
    border: 1px solid fuchsia;
    width: 20%;
}
div.rightBlock {
    display: inline-block;
    border: 1px solid fuchsia;
    width: 60%;
}
div.userBlocks {
    display: inline-block;
    border: 1px solid fuchsia;
    width: 49%;
}
span {
    display: inline-block;
}