.nav{
    grid-area: n;
    /* background-color: rgb(250, 103, 255); */
    background-color: pink;
    /* border: 1px solid pink */
    padding: 20px;
  
}
.item a, .friendsBlock a {
    color: white;
    text-decoration: none;
    font-size: medium;
}
.item a.activeLink {
    color: green;
}
.friendsBlock {
    display: inline-block;
    margin: 0;
    color: rgb(122, 2, 122);
    border: 1px solid white;
    font-size: 18px;
    padding-left: 5px;
}
.friendsBlock a.activeLink {
    color: green;
}
.friendsBlock img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}